<!DOCTYPE html>
<html lang="ja">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>乃木坂46卒業メンバーのブログ</title>
  <meta name="msvalidate.01" content="D6451EE2AECEE8675E78CEEA635F67DA" />
  <meta property="og:image" name="twitter:image" content="https://janelin612.github.io/n46-crawler/assets/ogimg.jpg">
  <meta property="og:title" name="twitter:title" content="乃木坂46卒業メンバーのブログ">
  <meta property="og:description" name="twitter:description" content="乃木坂46 卒業成員部落格備份">
  <meta name="twitter:card" content="summary_large_image">
  <link rel="shortcut icon" href="../assets/favicon.ico" type="image/x-icon">
  <link rel="icon" type="image/png" sizes="32x32" href="../assets/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="../assets/favicon-16x16.png">
  <link rel="icon" type="image/png" sizes="192x192" href="../assets/android-chrome-192x192.png">
  <link rel="icon" type="image/png" sizes="512x512" href="../assets/android-chrome-512x512.png">
  <link rel="apple-touch-icon" sizes="180x180" href="../assets/apple-touch-icon.png">
  <script src="../assets/script/vue.min.js"></script>
  <link rel="stylesheet" href="../assets/css/main.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css"
    integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-38227412-4"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', 'UA-38227412-4');
  </script>
</head>

<body>
  <div id="app">
    <button id="btn-toggle" :class="{'hide':isFold}" @click="onToggle()"><img src="../assets/menu.svg" alt=""></button>
    <div class="member" :class="{'hide':isFold}">
      <button id="btn-home"  onclick="location.href='../'" ><img src="../assets/arrow.svg" alt="" srcset=""><span>ホーム</span></button>
      <img :src="member.image" alt="" class="avatar">
      <div class="name">{{member.name}}</div>
      <div class="name hiragana">{{member.name_hiragana}}</div>

      <ul class="intro">
        <li v-for="item in member.intro">
          <span class="key">{{item.key}}</span>
          <span class="value">{{item.value}}</span>
        </li>
      </ul>

      <ul class="tag">
        <li v-for="item in member.tag">{{item}}</li>
      </ul>
    </div>

    <div class="menu" :class="{'hide':isFold}">
      <div class="loading-spinner" v-if="isLoading">
        <div class="spinner"></div>
      </div>
      <ul>
        <li v-for="(item,index) in list" v-on:click="onListSelected(index)" :class="index==selected?'selected':''">
          <div v-html="item.title"></div>
          <div v-if="item.title.length==0">&nbsp;&nbsp;&nbsp;</div>
          <div class="small-datetime">{{item.datetime}}</div>
        </li>
      </ul>
    </div>

    <div class="main" v-if="currentPost!=null">
      <div class="heading">
        <a class="post-time" :href="currentPost.url" target="_blank">
          <div class="year-month">{{currentPostDate.yearMonth}}</div>
          <span class="date">{{currentPostDate.date}}</span>
          <span class="week">{{currentPostDate.weekday}}</span>
        </a>
        <div class="post-info">
          <div class="author">{{currentPost.author}}</div>
          <div class="title" v-html="currentPost.title"></div>
        </div>
      </div>
      <div class="content" v-html="currentPost.content"></div>
    </div>
  </div>
</body>
<script src="../assets/script/main.js"></script>

</html>