<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>乃木坂46 非公式ブログ</title>

    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.2/vue.js"></script> -->
    <script src="script/vue.min.js"></script>
    <script src="script/vue-resource.js"></script>
    <link rel="stylesheet" href="main.css">
</head>

<body>
    <div id="app">
        <div class="member">
            <img :src="member.image" alt="" class="avatar">
            <div class="name">{{member.name}}</div>
            <div class="name hiragana">{{member.name_hiragana}}</div>

            <ul class="intro">
                <li v-for="item in member.intro">
                    <span class="key">{{item.key}}</span>
                    <span class="value">{{item.value}}</span>
                </li>
            </ul>

            <ul class="tag">
                <li v-for="item in member.tag">{{item}}</li>
            </ul>
        </div>

        <div class="menu">
            <ul>
                <li v-for="(item,index) in list" v-on:click="onListSelected(index)" :class="index==selected?'selected':''">
                    <div v-html="item.title"></div>
                    <div v-if="item.title.length==0">&nbsp;&nbsp;&nbsp;</div>
                    <div class="small-datetime">{{item.datetime}}</div>
                </li>
            </ul>
        </div>

        <div class="main" v-if="list[selected]!=null">
            <h1 v-html="list[selected].title"></h1>
            <h1 v-if="list[selected].title.length==0">&nbsp;&nbsp;&nbsp;</h1>
            <h3>
                <a :href="list[selected].url" target="_blank" class="datetime">{{list[selected].datetime}}</a> - {{list[selected].author}} </h3>
            <hr/>
            <span class="content" v-html="list[selected].content"></span>
        </div>
    </div>
</body>
<script>
    var app = new Vue({
        el: "#app",
        data: {
            firstTimeUpdate:true,
            selected: 0,
            list: [],
            member: {}
        },
        methods: {
            onListSelected: function (index) {
                window.scrollTo(0, 0);
                this.selected = index;
                var obj = { Url: window.location.toString().split("?")[0] + "?no=" + index };
                history.pushState(obj, document.title, obj.Url);
            }
        },
        created: function () {
            this.$http.get("./result.json").then(res => { this.list = res.body }, res => { this.list = [] });
            this.$http.get("./member.json").then(res => { this.member = res.body }, res => { this.member = {} });

            var no = new URL(window.location).searchParams.get("no");
            if (no != null && no != '') {
                this.selected = no;
            }
        },
        updated:function(){
            if(this.firstTimeUpdate){
                var single=this.$el.querySelector(".menu li").scrollHeight;
                this.$el.querySelector(".menu").scrollTop=single*(this.selected);
                this.firstTimeUpdate=false;
            }
        }
    });
</script>

</html>